# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# VS Code / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Temporary / logs
# ===============================
*.log
*.tmp
